@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/********Barre de navigation ***********/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    width: 15%;
}

nav input {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: solid 1px #dee2e6;
    background: white;
    position: relative;

    font-size: 1.2rem;
    cursor: pointer;
}

nav .fa-magnifying-glass{
    position: absolute;
    right: 8px;
    width: 22px;
    height: 22px;
    color: #9b9b9b;
}

.search_input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*pour la loupe*/
    width: 40%;
}

#search_input::placeholder{
    color: rgb(182, 182, 241);
    font-size: 0.8rem;
    padding-left: 20px;
}

.social-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-left .map{
    width: 32%;
}

.social-left .fa-brands{
    color: rgb(5, 5, 135);
    font-size: 1.5rem;
    cursor: pointer;
}

.social-left .fa-brands:hover{
    color: #db0084;
    transition: 0.6s;
}

.icon-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-right .fa-bell{
    color: #9b9b9b;
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-right .fa-triangle-exclamation{
    color:#31aa35;
}

.exclamation{
    text-align: center;
}

.exclamation p{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

/*****************Section 1 *****************/
.section_icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 100px;
}

.section_icon a{
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgb(5, 5, 135);
    cursor: pointer;
}

a:hover{
    color: #db0084;
    transition: 0.6s;
}

.section_icon p{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
}

.fa-solid,
.fas{
    color: rgb(5, 5, 135);
    cursor: pointer;
}

.section_icon i:hover{
    color: #db0084;
    transition: 0.6s;
}

/************* Section background blue ****************/
.section_background_blue{
    background-color:  #036ba1;
    height: 40px;
    margin-top: 20px;
}
.city{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.city .fa-circle-xmark{
    transform: rotate(45deg);
    color: white;
}

.section_background_blue p{
    color: white;
    margin-left: 100px;
    margin-left: 150px;
    font-size: 0.7rem;
    font-family: 'Quicksand', sans-serif;
}

/************* Main ***********/
main{
    background-color: #dee2e6;
    /* height: 3340px; */
}

.container{
    padding-top: 30px;
}

.container .border_white{
    display: flex;
    background-color: white;
    height: 50px;
    gap: 20px;
    margin-left: 144px;
    margin-right: 164px;
    margin-bottom: 20px;
    position: relative;
}

.container .border_white p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #db0084;
    margin-top: 15px;

}

.container .border_white .fa-triangle-exclamation{
    color: #db0084;
    margin-left: 20px;
    margin-top: 15px;
}

.container .border_white .fa-arrow-right{
    position: absolute;
    right: 0;
    margin-right: 10px;
    bottom: 17px;
    color: #db0084;
}

/**********Section dans le Main*************/
.container .main_white{
    background-color: white;
    margin-left: 144px;
    margin-right: 164px;
    min-width: 40%;
}
.container .main_white .titles{
    display: flex;
    gap: 20px;
    align-items: center;
}

.container .main_white img{
    margin-left: 11px;
    object-fit: cover;
    max-width: 60%;
}
.container .main_white h2{
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
}

.container .main_white h3{
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
    color: #036ba1;
    padding-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.container .main_white h3:hover{
    color:  #db0084;;
}
.container .main_white .titles .today{
    color: white;
    padding: 5px;
    background-color: #db0084;
    cursor: pointer;
}

/************* Sélecteur de tri PAr régions******/
.sort{
    height: 50px;
    background-color: white;
    margin-left: 144px;
    margin-right: 164px;
    min-width: 40%;
}

.menuSelect{
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}

/******************Bulletin météo video***********/
.video_meteo{
    background-color: white;
    height: 300px;
    margin-left: 144px;
    margin-right: 164px;
    min-width: 40%;
}

.video_meteo .title_video{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;;
    margin-bottom: 10px;
}

.video_meteo img{
    margin-left: 20px;
    width: 30%;
    height: 200px;
    object-fit: cover;
    filter: brightness(60%);/*pour assombrir l'image*/
}

.video_meteo .title_video p{
    font-family: 'Quicksand', sans-serif;
    color: #036ba1;
}

.video_meteo .title_video .fa-youtube{
    color: #db0084;
}

.video_meteo .video{
    position: relative;
    display: flex;
}

.video_meteo .video .fa-play{
    position: absolute;
    left: 183px;
    bottom: 111px;
    color: white;
    font-size: 2rem;
}

.video_meteo .video p{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 21px;
    text-align: justify;
    margin-left: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    width: 18%;
    height: 189px;
}

.video_meteo span{
    color: #db0084;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
   
}
.video_meteo .span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 34px;
    cursor: pointer;
}

.video_meteo .fa-arrow-right{
    color: #db0084;
    font-size: 0.8rem;
}

/*************Article***********/
article{
    display: flex;
    margin-left: 144px;
    margin-right: 164px;
    background: #f3f3f3;
    padding: 20px;
    min-width: 40%;
}

.flex-left{
    width: 100%;
}
.flex-left img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    min-width: 100%;
}

.flex-left .picture1{
    height: 160px;
}

.flex-left .picture2{
    height: 160px;
}


.flex-left span{
    position: absolute;
    left: 0;
    color: white;
    padding: 2px 6px 2px 6px;
    margin: 10px;
    background-color: #db0084;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7rem;
    border-radius: 5px;
}

.flex-left .flex-top{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.flex-left .border_picture{
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    width: 40%;
    padding-bottom: 15px;
}

.flex-left .title{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 21px;
    text-align: justify;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    padding: 5px;
}

.flex-left .flex-bottom{
    display: flex;
    gap: 20px;
}

.flex-left h3, p{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

.flex-left p{
    font-weight: 100;
}

.flex-right .border_picture{
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.flex-right .border_picture h4, p{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}
.flex-right .border_picture p{
    color: #1c9bd4;
    margin-top: 6px;
}

.flex-right .border_picture img{
    object-fit: cover;
    width: 20%;
    height: 55px;
    border-radius: 5px;
}

/************* Map satelitte***********/
.map_satelite{
    margin-left: 144px;
    margin-right: 164px;
    background: #f3f3f3;
    padding: 20px;
    min-width: 40%;
}

.map_satelite img{
    object-fit: cover;
    width: 56%;
}

.map_satelite h5{
    color: #145e9a;
    font-size: 1rem;
    font-family: "Quicksand",sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
}

.map_satelite p{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    width: 56%;
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
}

/***********Article 2********/
.flex-right-bis img{
    height: 220px;
    width: 100%;
}

.flex-right-bis span{
    position: absolute;
    left: 0;
    color: white;
    padding: 2px 6px 2px 6px;
    margin: 10px;
    background-color: #db0084;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7rem;
    border-radius: 5px;
}

.flex-right-bis .border_picture-bis{
    position: relative;
}

/*******Section des 3 photos*************/ 
.actualite{
    background: #f3f3f3;
    margin-left: 144px;
    margin-right: 164px;
    padding-bottom: 30px;
    min-width: 40%;
}

.flex{
    display: flex;
    margin-left: 144px;
    margin-right: 164px;
    background: #f3f3f3;
    padding: 20px 20px 60px 20px;
    gap: 20px;
    min-width: 40%;
}

.flex .picture3{
    height: 160px;
}

.flex .span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 8px;
    cursor: pointer; 
    padding-top: 10px;
}


.flex .arrow, .fa-arrow-right{
    color: #1c9bd4;
}

.flex .arrow:hover{
    color: #db0084;
}

.flex .fa-arrow-right:hover{
    color: #db0084;
}

/*********** section plus d'actualité ************/
.actualite .flex {
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    width: 30%;
    background: #145e9a;
    border-radius: 20px;
}
.actualite .flex a{
    color: white;
}
.actualite .fa-arrow-right{
    color: white;
}

.actualite .fa-arrow-right:hover{
    color:#036ba1;
}
.actualite .flex:hover{
    border: 2px solid #145e9a;
    background: none;
    color:#036ba1;
    transition: 0.6s;
}

/************Footer**********/
footer{
    background-image: linear-gradient(to bottom,#0076c9 0%,#1c9bd4 100%);
}

footer h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 30px;
    
}

footer h2 span{
    padding-bottom: 20px;
    border-bottom: solid;
}
.footer-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

ul{
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.social-icon .fa-brands{
    background-color: #145e9a;
    color: white;
    border-radius: 50%;
    padding: 16px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-icon .fa-square-twitter{
    border-radius: 28px;
}

.footer_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 30px;

}

.footer_menu span{
    color: #db0084;
    font-weight: 900;
}

.footer_menu a{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.footer_menu p{
    color: white;
}

.section_logo{
    background: white;

}.section_logo img{
    display: block;
    margin: auto;
    padding-top: 15px;
    width: 14%;
}

.copy{
    background: #145e9a;
    height: 50px;
}
.copy p{
    color: white;
    text-align: center;
    padding-top: 20px;
}

/************Responsive************/
@media screen and (max-width: 1100px){
    .social-left{
        display: none;
    }
    .section_icon .icon{
        display: none;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        top: 59px;
        right: 58px;
    }
    .video{
        flex-direction: column;
    }
    .video img{
        width: 90%;
        height: 256px;
    }
    .video_meteo{
        height: 600px;
    }
    .video p{
        width: 90%;
        margin-left: 22px;
    }
    .video_meteo .span{
        margin-top: 20px;
        justify-content: end;
    }
    .video_meteo .video p{
        width: 90%;
        margin-left: 19px;
        margin-top: 10px;
    }
    .video_meteo .video .fa-play{
        left: 303px;
        bottom: 303px;
    }
    article{
        flex-direction: column;
        
    }
    .flex-left .border_picture{
        width: 50%;
    }
    .map_satelite img{
        width: 100%;
    }
    .map_satelite p{
        width: 100%;
    }

    
    .container .main_white .titles{
        height: 63px;
        background: #ffffff;
        bottom: 0;
        position: fixed;
        z-index: 20;
        width: 60%;
        overflow-x: auto;/*pour scroller sur le côté*/
    }
    .footer-flex{
        max-width: 815px;
        margin: 0px auto;
        margin-top: 50px;
    }
    .footer_menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 815px;
        margin: 0px auto;
    }
    .copy{
        background: white;
    }
}

@media screen and (max-width: 846px){
    .video_meteo .video .fa-play{
        left: 188px;
    }
    .flex-left .flex-top{
        flex-direction: column;
    }
    .flex-left .border_picture{
        width: 100%;
    }
    .flex-left .flex-bottom{
        flex-direction: column;
    }
    .flex-left .flex{
        flex-direction: column;
    }
    .actualite .flex{
        width: 90%;
    }
    .footer-flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px
    }
}

@media screen and (max-width: 788px){
    .search_input{
        position: absolute;
        bottom: -42px;
        width: 100%;
    }
    .section_background_blue{
        margin-top: 45px;
    }
    nav{
        margin-left: 0;
        justify-content: space-between;
    }
    .logo{
        width: 20%;
    }
    .container .border_white{
        display: none;
    }
    .container .main_white h2{
        padding-bottom: 15px;
    }
    .menuSelect{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .container .main_white{
        margin-left: 0;
        margin-right: 0;
    }
    .sort{
        margin-left: 0;
        margin-right: 0;
    }
    .video_meteo{
        margin-left: 0;
        margin-right: 0;
    }
    article{
        margin-left: 0;
        margin-right: 0;
    }
    .map_satelite{
        margin-left: 0;
        margin-right: 0;
    }
    .flex{
        margin-left: 0;
        margin-right: 0;
    }
    .actualite{
        margin-left: 0;
        margin-right: 0;
    }
    .container .main_white .titles{
        width: 100%;
    }
    footer ul{
        font-size: 0.6rem;
        width: 52%;
    }
    footer h2{
        font-size: 1.1rem;
    }
    .footer_menu{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-flex{
        margin-left: 50px;
    }
}