// Variables globales
$primary-color:  rgb(5, 5, 135);
$primary-light-color: white;


$font1 : 'Quicksand', sans-serif;
$font2 : 'Roboto', sans-serif;


// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}