article {
    display: flex;
    margin-left: 144px;
    margin-right: 164px;
    background: #f3f3f3;
    padding: 20px;
    min-width: 40%;
    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
    @media screen and (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  
    .flex-left {
      width: 100%;
  
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        min-width: 100%;
      }
  
      .picture1,
      .picture2 {
        height: 160px;
      }
  
      span {
        position: absolute;
        left: 0;
        color: global.$primary-light-color;
        padding: 2px 6px;
        margin: 10px;
        background-color: #db0084;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.7rem;
        border-radius: 5px;
      }
  
      .flex-top,
      .flex-bottom {
        display: flex;
        gap: 20px;
        @media screen and (max-width: 846px){
          flex-direction: column;
        }
      }
  
      .flex-top {
        margin-bottom: 20px;
      }
  
      .border_picture {
        position: relative;
        border: 2px solid global.$primary-light-color;
        border-radius: 5px;
        background: global.$primary-light-color;
        width: 40%;
        padding-bottom: 15px;
        @media screen and (max-width: 1100px) {
          width: 50%;
        }
        @media screen and (max-width: 846px){
          width: 100%;
        }
      }
  
      .title {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 21px;
        text-align: justify;
        height: 66px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        padding: 5px;
      }
  
      h3, p {
        font-size: 0.8rem;
        font-family: 'Roboto', sans-serif;
      }
  
      p {
        font-weight: 100;
      }
    }
  
    .flex-right {
      .border_picture {
        display: flex;
        border: 2px solid global.$primary-light-color;
        border-radius: 5px;
        background: global.$primary-light-color;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
        
  
        h4, p {
          font-size: 0.8rem;
          font-family: 'Roboto', sans-serif;
        }
  
        p {
          color: #1c9bd4;
          margin-top: 6px;
        }
  
        img {
          object-fit: cover;
          width: 20%;
          height: 55px;
          border-radius: 5px;
        }
      }
    }
  }
  
  @media screen and (max-width: 846px){
    .flex-left .flex{
      flex-direction: column;
    }
    
   
  }

  @media screen and (max-width: 600px) {
    .flex-left .flex{
      margin-left: 0;
      margin-right: 0;
    }
    
  }

  